/* body {
  margin: 0;
    font-family: "Muli", "Noto Sans KR", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: "Muli", "Noto Sans KR", sans-serif !important;
}

body {
  font-family: "Muli", "Noto Sans KR", sans-serif !important;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}
.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

input.error {
  border-color: red;
}


.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

/* All Button */
.ant-btn-primary {
  background-color : #F7931D !important;
  border : 1px solid #F7931D !important;
}
.ant-btn-primary:hover {
  background-color : #c56c07 !important;
  border : 1px solid #c56c07 !important;
}

@font-face {
  font-family: 'Wemakeprice-Regular';
  src: url('./fonts/WeMakePriceTTF/Wemakeprice-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Paybooc-Medium';
  src: url('./fonts/PayboocTTF/paybooc\ Medium.ttf');
  font-weight: normal;
  font-style: normal;
}