.Result-body__result-msg {
    padding: 10px 20px;
    background-color: #e0ebfb;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;
}

.Result-body__result-msg__em-tag {
    font-weight: bold;
    color: #F7931D;
}

.Result-body__content {
    border: 1px solid #dcdcdc;
    margin-top: 30px;
    padding: 20px 30px;
}
.Result-body__content__title {
    border-bottom: 1px solid #bbb;
    padding: 15px 0px;
    color: black;
    font-size: 22px;
    display: block;
}
.Result-body__content__title__itemNum {
    font-size: 14px;
    padding: 0px 15px;
    color: #707070;
}