.result-msg__em-tag {
    font-weight: bold;
    color: #F7931D;
}

.searched-content {
    padding: 20px 0px;
}
.searched-content a {
    color: black;
}
.searched-content a:hover {
    color: #c56c07;
}
.searched-content__title {
    border-bottom: 1px solid #bbb;
    padding: 15px 0px;
    color: black;
    font-size: 22px;
    display: block;
}
.searched-content__title__itemNum {
    font-size: 14px;
    padding: 0px 15px;
    color: #707070;
}
.searched-content__list {
    padding: 20px 10px;
    border-bottom: 1px solid #dcdcdc;
}
.searched-content__list__title {
    font-size: 16px;
    color: #F7931D;
    font-weight: bold;
}
.pagination {
    padding-bottom: 30px;
}
.page_dropdown {
    margin-top: 16px;
    font-size: 0.95rem;
    
    padding: 2px;
}