.result-msg {
    padding: 10px 20px;
    background-color: #e0ebfb;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;
}

.result-msg__em-tag {
    font-weight: bold;
    color: #F7931D;
}

.content {
    margin-top: 10px;
    padding: 20px 0px;
}
.content__title {
    border-bottom: 1px solid #bbb;
    padding: 15px 0px;
    color: black;
    font-size: 22px;
    display: block;
}
.content__title__itemNum {
    font-size: 14px;
    padding: 0px 15px;
    color: #707070;
}
.content__list {
    padding: 20px 10px;
    border-bottom: 1px solid #dcdcdc;
}
.content__list__title {
    font-size: 16px;
    color: #F7931D;
    font-weight: bold;
}
.pagination {
    padding-bottom: 30px;
}