.bookmark_select_btn {
    
    float: right;
    margin: 15px 5px;
    
}
.bookmark_body {
    padding: 20px;
}

.bookmark_panel {
    width: 50vh;
    float: left;
    margin-right: 30px;
}
.bookmark_selectedPanel {
    width: 50vh;
    float: right;
    margin-left: 30px;
}