.input-field {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 180px;
}
.search_input input {
    height: 45px;
    font-size: 20px;
}
.search_label {
    background-color: #58595B;
    border-radius: 3px;
    height: 45px;
    font-size: 1rem;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}   
.bookmark_search_btn button {
    border-radius: 3px;
    height: 45px;
    font-size: 1rem;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
    border: none;
}
.ant-form-horizontal {
    width: 40%;
}
.ant-col {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
